.products {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include general-margin-top();

  &__product-table {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 20px;
    row-gap: 40px;

    margin-top: 56px;

    &__product-card {
      position: relative;
      max-width: 335px;
      min-width: 267px;
      max-height: 452px;

      &:hover > .btn-gray {
        visibility: visible;
        opacity: 1 !important;
      }

      .image-container {
        width: 100%;
        height: 272px;

        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }

      .btn-gray {
        position: absolute;
        bottom: -40px;
        // display: none;
        visibility: hidden;
        opacity: 0;

        width: 100%;
        height: 40px;
        margin-top: 14px;
        text-align: center;

        border: none;

        transition: opacity 0.2s ease-in-out;

        &:hover {
          color: $black-bg;
          background-color: $yellow;
        }
      }

      &__card-name {
        color: #2e2e2e;
      }

      &__card-info {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        row-gap: 6px;

        margin-top: 14px;

        color: #2e2e2e;

        div:nth-child(2n) {
          text-align: right;
        }

        div {
          font-size: 12px;
          font-weight: 400;
          line-height: 17px;
        }
      }
    }

    .in-the-stock-icon {
      position: absolute;

      height: 30px;
      width: 116px;
      left: 0px;
      top: 0px;

      color: white;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0em;
      background-image: url("../../public/images/flag.svg");
    }

    &__nav-btns {
      display: flex;
      width: 100%;
      max-width: 298px;
      flex-grow: 1;
      justify-content: space-between;

      margin-top: 125px;

      &__btn {
        width: 48px;
        height: 48px;

        border: 1px solid $black-bg;
        opacity: 0.4;

        cursor: pointer;

        &.active {
          opacity: 1;
        }
      }
    }

    @media (max-width: 1460px) {
      grid-template-columns: repeat(3, auto);
    }

    @media (max-width: 960px) {
      &__product-card {
        max-height: 435px;

        &__card-info div {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          max-width: 115px;
          overflow: hidden;
          text-overflow: ellipsis;

          &:last-child::after {
            content: "...";
          }
        }

        .image-container {
          height: 232px;
        }

        .btn-gray {
          position: relative !important;
          bottom: auto;
          opacity: 1;
          visibility: visible;
        }
      }

      &__ {
        font-size: 16px;
        line-height: 22.4px;
      }
    }

    @media (max-width: 900px) {
      grid-template-columns: repeat(2, auto);
    }

    @media (max-width: 680px) {
      grid-template-columns: auto;
    }
  }
}

@media (max-width: 900px) {
  .products {
    .products__product-table__nav-btns {
      margin-top: 35px;
      max-width: 335px;
    }
  }
}
